/*nav bar*/
body{
	padding-top: 0;
	background-image: url("img/bgmap.jpg");
	background-repeat: no-repeat;
}
header{
	height:110px;
	background-color: black;
	height: 1%;
}
ul.nav{
	float: right;
	padding-top: 4%;
}
ul.nav li{
	display: inline;
}
.nav a{
	color: #005DFF;
	text-decoration: none;
	letter-spacing: 3px;
	margin: 10px;
	font-size: 15px;
}
nav li a:hover {
	text-decoration: underline;
 }

ul #base{
	display: inline;
	position: relative;
	float: left;
}











